backend/soap/facultades.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    name="FacultadesService"
    targetNamespace="http://www.example.org/FacultadService/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.example.org/FacultadService/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- ===================== MENSAJES ===================== -->
    <message name="getFacultadesRequest"/>
    <message name="getFacultadesResponse">
        <part name="facultades" element="tns:FacultadList"/>
    </message>

    <message name="getFacultadPorSiglaRequest">
        <part name="sigla" type="xsd:string"/>
    </message>
    <message name="getFacultadPorSiglaResponse">
        <part name="facultad" element="tns:Facultad"/>
    </message>

    <message name="getFacultadPorIdRequest">
        <part name="id" type="xsd:int"/>
    </message>
    <message name="getFacultadPorIdResponse">
        <part name="facultad" element="tns:Facultad"/>
    </message>

    <message name="getDisciplinasRequest"/>
    <message name="getDisciplinasResponse">
        <part name="disciplinas" element="tns:DisciplinaList"/>
    </message>

    <message name="getPartidosRequest">
        <part name="filtros" type="xsd:string"/>
    </message>

    <message name="getPartidosResponse">
        <part name="return" element="tns:PartidoList"/>
    </message>

    <message name="actualizarResultadoRequest">
        <part name="idpartido" type="xsd:int"/>
        <part name="resequipo1" type="xsd:int"/>
        <part name="resequipo2" type="xsd:int"/>
    </message>

    <message name="actualizarResultadoResponse">
        <part name="return" type="xsd:string"/>
    </message>

    <!-- ===================== PORT TYPE ===================== -->
    <portType name="FacultadServicePortType">
        <operation name="getFacultades">
            <input message="tns:getFacultadesRequest"/>
            <output message="tns:getFacultadesResponse"/>
        </operation>
        <operation name="getFacultadPorSigla">
            <input message="tns:getFacultadPorSiglaRequest"/>
            <output message="tns:getFacultadPorSiglaResponse"/>
        </operation>
        <operation name="getFacultadPorId">
            <input message="tns:getFacultadPorIdRequest"/>
            <output message="tns:getFacultadPorIdResponse"/>
        </operation>
        <operation name="getDisciplinas">
            <input message="tns:getDisciplinasRequest"/>
            <output message="tns:getDisciplinasResponse"/>
        </operation>
        <operation name="getPartidos">
            <input message="tns:getPartidosRequest"/>
            <output message="tns:getPartidosResponse"/>
        </operation>
        <operation name="actualizarResultado">
            <input message="tns:actualizarResultadoRequest"/>
            <output message="tns:actualizarResultadoResponse"/>
        </operation>
    </portType>

    <!-- ===================== BINDING ===================== -->
    <binding name="FacultadServiceBinding" type="tns:FacultadServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="getFacultades">
            <soap:operation soapAction="getFacultades"/>
            <input><soap:body use="literal" namespace="http://www.example.org/FacultadService"/></input>
            <output><soap:body use="literal" namespace="http://www.example.org/FacultadService"/></output>
        </operation>
        
        <operation name="getFacultadPorSigla">
            <soap:operation soapAction="getFacultadPorSigla"/>
            <input><soap:body use="literal" namespace="http://www.example.org/FacultadService"/></input>
            <output><soap:body use="literal" namespace="http://www.example.org/FacultadService"/></output>
        </operation>
        
        <operation name="getDisciplinas">
            <soap:operation soapAction="getDisciplinas"/>
            <input><soap:body use="literal" namespace="http://www.example.org/FacultadService"/></input>
            <output><soap:body use="literal" namespace="http://www.example.org/FacultadService"/></output>
        </operation>

        <operation name="getPartidos">
            <soap:operation soapAction="getPartidos"/>
            <input><soap:body use="literal" namespace="http://www.example.org/FacultadService"/></input>
            <output><soap:body use="literal" namespace="http://www.example.org/FacultadService"/></output>
        </operation>

        <operation name="actualizarResultado">
            <soap:operation soapAction="actualizarResultado"/>
            <input><soap:body use="literal" namespace="http://www.example.org/FacultadService"/></input>
            <output><soap:body use="literal" namespace="http://www.example.org/FacultadService"/></output>
        </operation>
    </binding>

    <!-- ===================== SERVICE ===================== -->
    <service name="FacultadService">
        <documentation>Servicio SOAP para obtener datos de facultades</documentation>
        <port name="FacultadServicePort" binding="tns:FacultadServiceBinding">
            <soap:address location="http://localhost:8000/wsdl"/>
        </port>
    </service>

    <!-- ===================== TYPES ===================== -->
    <types>
        <xsd:schema targetNamespace="http://www.example.org/FacultadService/">
            
            <!-- FACULTAD -->
            <xsd:element name="Facultad">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="nombre" type="xsd:string"/>
                        <xsd:element name="siglas" type="xsd:string"/>
                        <xsd:element name="puntos" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FacultadList">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="facultad" type="tns:Facultad" maxOccurs="unbounded"/>
                    </xsd:sequence>                
                </xsd:complexType>
            </xsd:element>

            <!-- DISCIPLINA -->
            <xsd:element name="Disciplina">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="iddisciplina" type="xsd:int"/>
                        <xsd:element name="nombre" type="xsd:string"/>
                        <xsd:element name="reglamento" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="DisciplinaList">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="disciplina" type="tns:Disciplina" maxOccurs="unbounded"/>
                    </xsd:sequence>                
                </xsd:complexType>
            </xsd:element>

            <!-- PARTIDO -->

            <xsd:element name="Partido">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="idpartido" type="xsd:int"/>
                        <xsd:element name="idequipo1" type="xsd:int"/>
                        <xsd:element name="idequipo2" type="xsd:int"/>
                        <xsd:element name="resequipo1" type="xsd:int"/>
                        <xsd:element name="resequipo2" type="xsd:int"/>
                        <xsd:element name="fecha" type="xsd:string"/>
                        <xsd:element name="hora" type="xsd:string"/>
                        <xsd:element name="lugar" type="xsd:string"/>
                        <xsd:element name="iddisciplina" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="PartidoList">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="partido" type="tns:Partido" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>

</definitions>


